@font-face {
  font-family: 'Whitney';
  src: url('/fonts/whitney/whitneylight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/whitney/whitneylightitalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/whitney/whitneybook.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/whitney/whitneybookitalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/whitney/whitneymedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/whitney/whitneymediumitalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/whitney/whitneysemibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/whitney/whitneysemibolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/whitney/whitneybold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney';
  src: url('/fonts/whitney/whitneybolditalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
